* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
.iconfont {
  color: #F15412;
  font-size: 20px;
  cursor: pointer;
  padding: 0 4px;
}

.App {
  display: flex;

  .right_wrapper {
    width: 101%;
    overflow-x: auto;

    .top {
      * {
        font-family: "Gill Sans", sans-serif;
      }

      .tab {}

      .table {}

      .settings {
        zoom: .9;
        display: flex;
        padding: 10px;
        .normal_btn {
          flex: 1;
          display: flex;
          justify-content: space-between;
          .btn_wrapper{
            margin-left: -10px;
            button{
              margin-left: 10px;
            }
          }
          .draw_button {
            // margin-right: 1px;
          }
        }

        .mini_search {
          // background-color: #ccc;
          flex: 2;
          margin-left: 10px;
          input {
            color: #2E0249;
            // padding: 6px;
            letter-spacing: 1px;
          }

          button.ant-btn.ant-btn-primary.ant-input-search-button {
            // padding: 10px;
            // height: 42px;
          }
        }
      }

    }

    .bottom {
      position: relative;
      margin: 40px 20px 0 30px;
      .setting_icons{
        position: absolute;
        top: 0;
        right: 0px;
        display: flex;
        flex-direction: column;
        z-index: 99999999;
        .base-func{
          color: #3AB4F2;
        }
      }
    }

  }
}


input#sheets {
  display: none;
  position: absolute;
  margin-right: -1000px;
  margin-top: -1000px;
}

.ant-table-content {
  overflow: inherit !important;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  padding: 5px 16px !important;
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.sidebar {
  width: auto;
  height: 100vh;
  max-width: 140px;
}

.menubar {
  height: 100%;
}

.draw_wrapper {
  margin: 10px 40px;
}

.tags_wrapper {
  margin: 10px 0;
}

.file_input_wrapper {
  margin-left: -100000px;
}

.input_wrapper {
  display: flex;
  margin-top: 20px;

  .add_item_btn {
    width: 100px;
  }
}

.group_wrapper {
  margin-top: 20px;
}

.submit_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);

}

.switch_wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}



@ExpendBgColor: #EEEEEE;
@SummaryBgColor: #DF7861;

.row_content_by_self {}

.summary_content_by_self>* {
  background-color: @SummaryBgColor;
}

.ant-table-body {
  resize: vertical !important;
}