#sheets{
    display: none;
    position: absolute;
    margin-right: -1000px;
    margin-top: -1000px;
}
.ant-table-content{
    overflow: inherit !important;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 5px 16px !important;
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin-bottom: 0 !important;
}